USE [master]
GO
/****** Object:  Database [MedTest]    Script Date: 26.04.2023 0:17:29 ******/
CREATE DATABASE [MedTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MedTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MedTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedTest]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 26.04.2023 0:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[NumberBase] [int] NOT NULL,
	[DateRecive] [datetime] NOT NULL,
	[History] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_Information_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26.04.2023 0:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26.04.2023 0:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Information] ON 

INSERT [dbo].[Information] ([ID], [FIO], [NumberBase], [DateRecive], [History], [Status], [Birthday]) VALUES (1, N'Лебедев Л.А.', 1, CAST(N'2001-12-12T00:00:00.000' AS DateTime), N'обследование', N'Выписан', CAST(N'1999-12-13T00:00:00.000' AS DateTime))
INSERT [dbo].[Information] ([ID], [FIO], [NumberBase], [DateRecive], [History], [Status], [Birthday]) VALUES (2, N'Дмитров Н.А.', 2, CAST(N'2000-12-12T00:00:00.000' AS DateTime), N'лечение заболевания', N'В процессе', CAST(N'1998-12-13T00:00:00.000' AS DateTime))
INSERT [dbo].[Information] ([ID], [FIO], [NumberBase], [DateRecive], [History], [Status], [Birthday]) VALUES (1003, N'Ложкин А. А.', 3, CAST(N'2023-04-05T00:00:00.000' AS DateTime), N'Опухоль', N'В процессе', CAST(N'2000-04-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Information] OFF
GO
INSERT [dbo].[Role] ([ID], [Title]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Title]) VALUES (2, N'User')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [RoleID]) VALUES (1, N'Admin', N'111', 1)
INSERT [dbo].[User] ([ID], [Login], [Password], [RoleID]) VALUES (2, N'User', N'222', 2)
INSERT [dbo].[User] ([ID], [Login], [Password], [RoleID]) VALUES (3, N'Sis Admin', N'222', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
